#main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: 12px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
#data-view {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
