:root {
  --cbt-blue: #00bac6;
  --font-main: "Kanit", sans-serif;
  --font-secondary: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: #efefef;
  --secondary-color: #777777;
  --primary-border-radius: 20px;
  --secondary-border-radius: 10px;
}
/*Loading Screen*/
#loading-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 50px;
  gap: 10px;
}
#loading-message img {
  width: 50px;
}
#sub-message {
  font-size: 25px;
  font-style: italic;
  color: var(--cbt-blue);
}
body {
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}
.primary-button {
  color: white;
  background-color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#navbar-placeholder {
  width: 100%;
  display: block;
}
#page-title,
#user-name,
#nav-date {
  font-weight: bold;
  color: var(--cbt-blue);
  border-right: 2px solid black;
  padding-right: 10px;
  font-size: 20px;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
#nav-title {
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 3px;
}
#nav-contents {
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: center;
  gap: 20px;
}

/*Data Button*/
.data-header-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data-button {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--secondary-border-radius);
  border: 3px solid white;
  box-shadow: 1px 1px 10px grey;
}
.data-button:hover {
  border: 3px solid var(--cbt-blue);
  box-shadow: none;
}
.button-data-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button-logo {
  width: 40px;
}
.data-button-header {
  font-weight: bold;
  font-style: italic;
  letter-spacing: 2px;
}
.data-button-data {
  text-align: right;
  font-weight: bold;
  font-size: 32px;
}
.data-button-summary {
  text-align: right;
  color: green;
  font-weight: bold;
  font-style: italic;
}

input:disabled,
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
