#main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: 12px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
#data-view {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  flex-grow: 1;
  border-radius: var(--primary-border-radius);
}
#cloud-projects-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 20px;
}
#selection-tabs {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 15px;
}
.selection-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 10px grey;
}
.selection-button-header {
  font-size: 16px;
  font-weight: bold;
}
.selection-button-data {
  font-size: 14px;
  font-weight: bold;
  color: var(--cbt-blue);
}
.selection-button:hover {
  border: 3px solid var(--cbt-blue);
  cursor: pointer;
}
.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
  border: 3px solid var(--cbt-blue);
}
#table-tab {
  max-height: 750px;
  overflow-y: auto;
  border: 2px solid var(--cbt-blue);
}
#project-table {
  border-collapse: collapse;
  background-color: white;
}
#project-table thead {
  font-size: 14px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  background-color: white;
}
#project-table tbody {
  background-color: var(--primary-color);
  text-align: left;
}
#project-table td,
#project-table th {
  padding: 10px;
}

#project-table tbody tr:hover {
  background-color: white;
  color: var(--cbt-blue);
  cursor: pointer;
}
#project-table th:nth-child(1) {
  width: 25px;
}
#project-table th:nth-child(2) {
  width: 250px;
}
#project-table th:nth-child(3) {
  width: 100px;
}
#project-table th:nth-child(4) {
  width: 100px;
}
.sort-header {
  cursor: pointer;
}
.selected-sort {
  color: var(--cbt-blue);
}
#project-table-tab {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#admin-user-table-container {
  height: 300px;
  overflow-y: auto;
  border: 2px solid var(--cbt-blue);
}
#member-user-table-container {
  height: 435px;
  overflow-y: auto;
  border: 2px solid var(--cbt-blue);
}
#member-user-table,
#admin-user-table {
  border-collapse: collapse;
  background-color: white;
}
#member-user-table thead,
#admin-user-table thead {
  font-size: 14px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  background-color: white;
}
#member-user-table caption,
#admin-user-table caption {
  background-color: white;
  color: var(--cbt-blue);
  padding: 5px;
  font-weight: bold;
}
#member-user-table tbody,
#admin-user-table tbody {
  background-color: var(--primary-color);
  text-align: left;
}
#member-user-table td,
#admin-user-table td,
#member-user-table th,
#admin-user-table th {
  padding: 10px;
}
#member-user-table th:nth-child(1),
#admin-user-table th:nth-child(1) {
  width: 25px;
}
#member-user-table th:nth-child(2),
#admin-user-table th:nth-child(2) {
  width: 150px;
}
#member-user-table th:nth-child(3),
#admin-user-table th:nth-child(3) {
  width: 100px;
}
#member-user-table th:nth-child(4),
#admin-user-table th:nth-child(4) {
  width: 150px;
}
#project-metadata {
  width: 400px;
}
.project-metadata-header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--cbt-blue);
  min-height: 45px;
  background-color: white;
  border: 2px solid var(--cbt-blue);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#manager-display {
  padding: 10px;
  margin: 10px 0px;
  background-color: white;
  border: 2px solid var(--cbt-blue);
}
#manager-display-label {
  color: black;
  font-style: italic;
}
#manager-display-value {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  color: var(--cbt-blue);
}
#manager-buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}
.manager-button {
  padding: 10px;
  background-color: white;
  border: 2px solid var(--cbt-blue);
  cursor: pointer;
}
.manager-button:hover {
  background-color: var(--cbt-blue);
  border: 2px solid white;
  color: white;
}
#manager-input-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#manager-input {
  width: 330px;
  padding: 10px;
}
#add-manager-button {
  font-weight: bold;
  font-size: 20px;
  border: 2px solid var(--cbt-blue);
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
#add-manager-button:hover {
  background-color: var(--cbt-blue);
  border: 2px solid white;
  color: white;
}
