#main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: 12px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
#data-view {
  height: 90%;
  padding: 10px 0px;
}
#filter-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
#sessions-count {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 4px solid var(--cbt-blue);
}
#sessions-count-data {
  font-size: 24px;
  font-weight: bold;
  color: var(--cbt-blue);
}
#filter-tab {
  padding-left: 10px;
  font-size: 24px;
}
#table-container {
  height: 90%;
  overflow-y: auto;
  border: 4px solid var(--cbt-blue);
}
#sessions-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
#sessions-table thead {
  width: 100%;
  background-color: var(--secondary-color);
  text-wrap: wrap;
  word-break: normal;
}
#sessions-table tbody {
  max-height: none;
  overflow-y: visible;
}
#sessions-table th,
#sessions-table td {
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}
#sessions-table thead th {
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 2;
}
#sessions-table th:nth-child(1),
#sessions-table td:nth-child(1) {
  width: 4%;
}
#sessions-table th:nth-child(2),
#sessions-table td:nth-child(2) {
  width: 6%;
}
#sessions-table th:nth-child(3),
#sessions-table td:nth-child(3) {
  width: 25%;
  word-break: break-all;
}
#sessions-table th:nth-child(4),
#sessions-table td:nth-child(4) {
  width: 15%;
  word-break: break-all;
}
#sessions-table th:nth-child(5),
#sessions-table td:nth-child(5) {
  width: 10%;
  text-align: right;
}
#sessions-table th:nth-child(6),
#sessions-table td:nth-child(6) {
  width: 4%;
  text-align: right;
}
#sessions-table th:nth-child(7),
#sessions-table td:nth-child(7) {
  width: 4%;
  text-align: right;
}
#sessions-table th:nth-child(8),
#sessions-table td:nth-child(8) {
  width: 6%;
  text-align: right;
}
#sessions-table th:nth-child(9),
#sessions-table td:nth-child(9) {
  width: 5%;
  text-align: right;
}
#sessions-table th:nth-child(10),
#sessions-table td:nth-child(10) {
  width: 5%;
  text-align: right;
}
#sessions-table th:nth-child(11),
#sessions-table td:nth-child(11) {
  width: 5%;
  text-align: right;
}
#sessions-table th:nth-child(12),
#sessions-table td:nth-child(12) {
  width: 3%;
  text-align: right;
}
#sessions-table tr:hover {
  cursor: pointer;
  background-color: var(--cbt-blue-hover);
}

#session-overlay {
  font-family: var(--font-secondary);
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.562); /* 80% dark */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
#overlay-box {
  border: 4px solid var(--cbt-blue);
  width: 800px;
  height: 800px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#overlay-contents {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
#overlay-session-contents {
  word-break: break-all;
  padding-right: 20px;
}

#session-detail-table td:nth-child(1) {
  width: 150px;
  background-color: var(--primary-color);
  font-weight: bold;
}
#session-detail-table td:nth-child(2) {
  width: 300px;
  text-align: left;
}
#session-detail-table td {
  padding: 3px;
}
.details-caption {
  font-weight: bold;
  padding: 5px;
}
#close-button {
  margin-top: 10px;
  width: 70px;
  text-align: center;
}
#vertical-divider {
  width: 5px;
  background-color: var(--cbt-blue);
}
#overlay-syncs-contents {
  padding-left: 20px;
}
#syncs-in-session-table {
  padding: 10px;
}
#syncs-in-session-table th {
  background-color: var(--primary-color);
  padding: 5px;
}
#syncs-in-session-table td {
  padding: 5px;
}
#syncs-in-session-table td:nth-child(1),
#syncs-in-session-table th:nth-child(1) {
  width: 25px;
  text-align: left;
}
#syncs-in-session-table td:nth-child(2),
#syncs-in-session-table th:nth-child(2) {
  width: 100px;
  text-align: right;
}
#syncs-in-session-table td:nth-child(3),
#syncs-in-session-table th:nth-child(3) {
  width: 75px;
  text-align: right;
}
#syncs-in-session-table td:nth-child(4),
#syncs-in-session-table th:nth-child(4) {
  width: 100px;
  text-align: right;
}

#filter-selection-container,
#filter-dropdown-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  padding-right: 10px;
}
#filters {
  font-weight: normal;
}
#filter-tab {
  display: flex;
  flex-direction: row;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
.dropdown {
  position: relative;
  width: 800px;
}

.dropdown-title {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
  background-color: white;
  z-index: 2;
}

.options {
  position: absolute; /* So it floats above other elements */
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 500px;
  display: none; /* Hidden by default */
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.option {
  padding: 8px;
  cursor: pointer;
  font-weight: normal;
}

.option:hover {
  background-color: var(--cbt-blue-hover);
}
#filter-click {
  width: 784px;
}
