#main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  font-size: 12px;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
}
#data-view {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  flex-grow: 1;
  border-radius: var(--primary-border-radius);
}
#user-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}
#user-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: left;
}
.version-button {
  padding: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--cbt-blue);
}
.version-button:hover {
  cursor: pointer;
  border: 2px solid var(--cbt-blue);
}
.disabled {
  background-color: var(--light-blue);
  color: black;
  pointer-events: none;
}
#user-list {
  padding-top: 10px;
  max-height: 700px;
  overflow-y: auto;
}
#user-table {
  border-collapse: collapse;
  background-color: white;
  border: 2px solid var(--cbt-blue);
}
#user-table thead {
  font-size: 14px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 10px;
  background-color: white;
}
#user-table tbody {
  background-color: var(--primary-color);
  text-align: left;
}
#user-table td,
#user-table th {
  padding: 10px;
}
#user-table tbody tr:hover {
  background-color: white;
  color: var(--cbt-blue);
  cursor: pointer;
}
#user-table th:nth-child(1) {
  width: 25px;
}
#user-table th:nth-child(2) {
  width: 150px;
}
#user-table th:nth-child(3) {
  width: 150px;
}
#user-table th:nth-child(4) {
  width: 100px;
}
